@font-face {
    font-family: 'gt_cinetyperegular';
    src: url('gt-cinetype-regular-webfont.eot');
    src: url('gt-cinetype-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('gt-cinetype-regular-webfont.woff2') format('woff2'),
         url('gt-cinetype-regular-webfont.woff') format('woff'),
         url('gt-cinetype-regular-webfont.ttf') format('truetype'),
         url('gt-cinetype-regular-webfont.svg#gt_cinetyperegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,
.h0, .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5{font-family: 'gt_cinetyperegular';}
/* .index-template #shopify-section-header {display: none;} */
div#shopify-section-header {position: fixed;  left: 0;  top: 0;  z-index: 9999;  width: 100%;}
/* homepage css  */
.main-banner {position: relative;  overflow: hidden;  width: 100%;  display: block; height:100vh;}
.main-banner .banner-bg {position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;  background-repeat: no-repeat;  background-size: cover;  background-position: 50% 50%; display:block;}
.banner-caption {position: absolute;  left: 50%;  top: 50%;  z-index: 1;  transform: translate(-50%, -50%);}
.banner-caption img {max-width:100%;}
.main-banner .full-link{position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%; z-index:9; display:block;}

/* home intro css  */
.rich-text--full-width .rich-text__blocks {width: 100%; max-width:100%; padding:0 30px;}
.rich-text .rich-text__blocks h2 {text-align: left; font-size:100px;}
.rich-text .rich-text__blocks h2 p {margin: 0;  font-size: inherit;}

/* home about css  */
.home-about-section .home-about-wrapper {  display: flex;  width: 100%;  border-top: 1px solid #000;  padding: 120px 0 170px;  position: relative;}
.home-about-section .home-about-wrapper:before {  position: absolute;  content: "";  left: 33.33%;  top: -1px;  bottom: 0px;  width: 1px;  background: #000;  display: block;  vertical-align: top;}
.home-about-wrapper .home-about-title {  width: 33.33%;  padding: 0 30px;}
.home-about-wrapper .home-about-title h2 {  font-size: 40px;  margin: 0;}
.home-about-wrapper .home-about-text {  width: 66.67%;  padding: 0 30px;}
.home-about-wrapper .home-about-text p {  margin: 0;  font-size: 40px;  line-height: normal;  color: #000;}

/* home featured products  */
.featured-collection-block {margin: 0;}
.featured-collection-block .collection.page-width {width: 100%;  padding: 0; max-width:100%;}
.featured-collection-block .title-wrapper-with-link {width: 100%;  margin: 0;  /* padding: 30px 0px; */}
.featured-collection-block .title-wrapper-with-link .title {width: 100%;  text-align: center;  display: flex;  justify-content: space-around;  background: #000;  color: #fff;  padding: 27px 0;  font-size: 40px;}
.featured-collection-block .product-grid.negative-margin {margin: 0;}
.featured-collection-block .product-grid .grid__item {padding: 0; border-left:1px solid #000; position:relative;}

.featured-collection-block .card-wrapper .card--product{margin:0px;}
.featured-collection-block .card-wrapper:before {position: absolute;  content: "";  left: 0;  top: 0;  width: 100%;  height: 100%;  background: #fff;  z-index: 9;  transition: all 0.3s ease-out 0s;  opacity: 0;}
.featured-collection-block .grid__item:hover .card-wrapper:before{opacity:1;}
.featured-collection-block .card-information{position: absolute;  left: 0;  top: 50%;  right: 0;  z-index: 9;  text-align: center; opacity:0; transition:all 0.3s ease-out 0s; transform: translateY(-50%);}
.featured-collection-block .grid__item:hover .card-wrapper .card-information{opacity:1;}

.featured-collection-block .card-information__text{font-size: 60px;  padding: 0;  line-height: normal;  margin: 0 0 10px;}
.featured-collection-block .card-information__text a,
.featured-collection-block .card-information__text a:hover{text-decoration:none;}
.featured-collection-block .price {justify-content:center; font-size: 40px;  line-height: normal;}
.featured-collection-block .caption-with-letter-spacing.light {letter-spacing:0;  opacity: 1;  font-size: 40px;  line-height: normal; text-transform:none;}

.featured-collection-block .grid__item .add-cart-form{position: absolute;  left: 0;  bottom:0;  width: 100%;  text-align: center;  z-index: 10; opacity:0; transition:all 0.3s ease-out 0s; }
.featured-collection-block .grid__item:hover .add-cart-form{opacity:1;}
.add-cart-form .add-to-cart {background: transparent;  font-size: 40px;  border: none;  outline: none;  border-top: 1px solid #000;  padding: 40px 10px;  width: 100%; cursor:pointer;}
.add-cart-form .ajaxified-cart-feedback {position: absolute;  left: 0;  bottom: 0;  text-align: center;  width: 100%;  margin: 0;  pointer-events: none;}
.featured-collection-block .card-wrapper:hover .card-information__text {text-decoration: none;}



/* home infinite text css */
.home-infinite-text{padding:230px 0; width:100%; overflow:hidden;}

/* responsive css  */
@media (max-width:1500px){
  .rich-text .rich-text__blocks h2{font-size:40px;}
  .home-about-wrapper .home-about-text p,
  .home-about-wrapper .home-about-title h2,
  .featured-collection-block .title-wrapper-with-link .title{font-size: 30px;}
  
  .featured-collection-block .card-information__text {font-size: 40px;}
  
  .add-cart-form .add-to-cart,
  .featured-collection-block .price,
  .featured-collection-block .caption-with-letter-spacing.light{font-size:30px;}
  
  .home-infinite-text{padding:150px 0px;}
  
}
@media (max-width:1024px){
  .featured-collection-block .card-information__text a,
  .add-cart-form .add-to-cart{pointer-events:none;}
  
  .featured-collection-block .grid__item.hover .card-wrapper .card-information__text a,
  .grid__item.hover .add-cart-form .add-to-cart{pointer-events:all;}
  
  .featured-collection-block .grid__item.hover .card-wrapper .card-information,
  .featured-collection-block .grid__item.hover .card-wrapper:before,
  .featured-collection-block .grid__item.hover .add-cart-form{opacity:1}
  
}
@media (max-width:991px){
  
  .rich-text .rich-text__blocks h2{font-size:30px;}
  .home-about-wrapper .home-about-text p,
  .home-about-wrapper .home-about-title h2,
  .featured-collection-block .title-wrapper-with-link .title{font-size:20px;}
  
  .featured-collection-block .card-information__text {font-size:30px;}
  
  .add-cart-form .add-to-cart,
  .featured-collection-block .price,
  .featured-collection-block .caption-with-letter-spacing.light{font-size:20px;}
  
  .home-about-section .home-about-wrapper{padding:100px 0px;}
  
}

@media (max-width:767px){
  .main-banner{height:60vh;}
  .rich-text--full-width .rich-text__blocks{padding:0 15px;}
  .home-about-section .home-about-wrapper{padding:50px 0px; flex-wrap:wrap;}
  .home-about-section .home-about-wrapper:before{display:none;}
  
  .home-about-wrapper .home-about-title {width: 100%; padding: 0 15px 30px;}
  .home-about-wrapper .home-about-text {width: 100%; padding: 0 15px;  }
  
  .featured-collection-block .title-wrapper-with-link .title span ~ span {display: none;}
  .featured-collection-block .product-grid .grid__item {border-left: none;    width: 100%;    max-width: 100%;    border-bottom: 1px solid #000;  }
  
  .home-infinite-text {padding: 100px 0;}	  
}



